.container {
    display: grid;
    grid-template-columns: 10% 35% 5% 5% 35% 10%;
    grid-template-rows: 28px 50px 25px 75px 50px 25px 25px 50px 25px 25px 50px;
}

.filler {
  background-color: red;
  border: solid 1px white;
}

.item {
  background-color: green;
}

.item-a {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: span 2;
  }

.item-b {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: span 2;
  }

  .item-c {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: span 2;
  }

.item-d {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: span 2;
  }

.timelineHeader {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom: dashed 2px white;
    background-color: black;

  }

.locationDate {
  color: white;
}